@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<body>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            @Html.ActionLink("Welcome", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About Maria", "About", "Home")</li>
                    <li>@Html.ActionLink("Work by Maria", "Works", "Home")</li>
                    <li>@Html.ActionLink("Contact Maria", "Contact", "Home")</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="row">
        <div class="col-md-6">
            <br />
            <br />
            <center>
                <h3> Cell Phone: <a href="tel:(720)226-4667">(720)226-4667</a></h3>

                <address>
                    <strong>Maria's Email Address:</strong>   <a href="mailto:miyokomiller@gmail.com">miyokomiller@gmail.com</a><br />
                </address>
            </center>



        </div>
        <div class="col-md-4">
            <br />
            <br />


            <form method="post" action="/Home/Contact">
                <label for="Name">Name : &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </label>
                <input type="text" id="Name" name="Name" required />

                <br />
                <label for="Email">Email :  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</label>
                <input type="email" id="Email" name="Email" required />

                <br />
                <label for="Phone Number">Phone Number: </label>
                <input type="text" id="Phone Number" name="Phone Number" required />

                <br />
                <label for="Body">Message :  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</label>
                <textarea id="Body" name="Body" required></textarea>

                <button type="submit">Submit</button>

            </form>
        </div>
    </div>
    </body>
